.custom-form {
  .ant-form-item {
    margin-bottom: 0px;
  }

  .ant-form-item-label {
    padding-bottom: 2px !important;
  }

  .ant-form-item-label > label {
    font-weight: 500;
  }

  .ant-checkbox-wrapper {
    font-weight: 500;
    margin-left: 8px;
  }

  .no-padding-bottom-form-item .ant-form-item-label {
    padding-bottom: 0px !important;
  }
}
